<div class="loading" *ngIf="isLoadingRequest">
  <app-loader></app-loader>
</div>

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">

  <div class="escolha">
    <mat-form-field>
      <input type="text" placeholder="Faça sua lista aqui!" id="itemInput" matInput [formControl]="formControl"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="adicionarItem()">
        <mat-option *ngFor="let option of itensFiltrados | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button class="add-button" (click)="adicionarItem()">
      <mat-icon aria-label="Adicionar">add</mat-icon>
    </button>
  </div>

  <section class="lista">
    <ul class="list-group">
      <li *ngFor="let item of itensAdicionais; let i = index" class="list-group-item">
        {{ item }}
        <div class="multiplicador">
          <button class="multiply-button" mat-icon-button
            (click)="subtractMultiply(i)"><mat-icon>remove</mat-icon></button>
          x{{ this.multiplicadores[i] }}
          <button class="multiply-button" mat-icon-button (click)="addMultiply(i)"><mat-icon>add</mat-icon></button>
        </div>
        <button mat-icon-button class="remover-button" (click)="removerItem(item)">
          <mat-icon aria-label="Remover">delete</mat-icon>
        </button>
      </li>
    </ul>
  </section>
</div>

<section class="botao-enviar">
  <button mat-icon-button class="enviar-button" (click)="enviarItens()">
    <p style="
      margin-bottom: 0;
      width: 65%;
      font-variant-caps: small-caps;
      font-size: x-large;
      font-weight: 700;">comprar</p>
    <mat-icon style="padding-left: 7px;">keyboard_arrow_right</mat-icon>
  </button>
</section>

<app-modal-confirmacao [modalListaDeCompras]="modalListaDeCompras" *ngIf="modalAberto" (fechar)="fecharModal($event)"
  style="
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  ">
</app-modal-confirmacao>

<button class="voltar" (click)="redirectToMain()">
  <i class="fas fa-home"></i>
</button>