<div class="loading" *ngIf="isLoadingRequest">
  <mat-spinner class="custom-spinner" [diameter]="70"></mat-spinner>
</div>

<div class="container">
  <section class="escolha">
  
    <mat-form-field>
      <input type="text" placeholder="Faça sua lista aqui!" matInput [formControl]="formControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of itensFiltrados | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>    
  
    <button mat-icon-button class="add-button" (click)="adicionarItem()">
      <mat-icon aria-label="Adicionar">add</mat-icon>
    </button>
  
  </section>
  
  <section class="lista">
    <ul>
      <li *ngFor="let item of itensAdicionais"> 
        {{ item }} 
        <button mat-icon-button class="remover-button" (click)="removerItem(item)">
          <mat-icon aria-label="Remover">delete</mat-icon>
        </button>
      </li>
    </ul>
  </section>
  
  <section class="botao-enviar">
    <button mat-icon-button class="enviar-button" (click)="enviarItens()">
      <p style="
      margin-bottom: 0;
      width: 65%;
      font-variant-caps: small-caps;
      font-size: large;">comprar</p>
      <mat-icon
      style="padding-left: 7px;">keyboard_arrow_right</mat-icon>
    </button>
  </section>
  
  <app-modal-confirmacao 
  [modalListaDeCompras]="modalListaDeCompras"
  *ngIf="modalAberto" 
  (fechar)="fecharModal($event)"
  style="
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  ">
  </app-modal-confirmacao>
  
  <div id="overlay"></div>
</div>

<button class="voltar" (click)="redirectToMain()">
  <i class="fas fa-home"></i>
</button>