.container {
  display: flex;
  height: 85%;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 11%;
  overflow: auto;
}

.escolha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  position: fixed;
  z-index: 1000;
}

/*==================
 MODAL
==================*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
  
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
  
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}
/*==================
 BOTÃO ADD
==================*/
.add-button {
  background-color: #ffffff;
  color: black;
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  border: 2px solid #58017a;
  margin: 0 0 23px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*==================
 LISTA ITENS
==================*/
ul {
  list-style-type: none;
  padding: 12%;
  overflow: auto;
}
li {
  margin-bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: large;
  border-bottom: 1px solid white;
}
.lista {
  position: fixed;
  bottom: 0; /* Posiciona a lista no fundo da tela */
  left: 0;
  right: 0;
  height: 0; /* Esconde a lista inicialmente */
  background: #302b33;
  transition: height 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transições suaves */
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Para ocultar o conteúdo quando fechado */
  transform: translateY(100%); /* Esconde a lista abaixo da tela */
}

.lista.open {
  height: 83%; /* Altura quando aberta */
  transform: translateY(0); /* Move a lista para a tela */
  z-index: 1000;
}

@keyframes blink {
  0% {
    background-color: white;
  }
  50% {
    background-color: #ff78ff;
  }
  100% {
    background-color: white;
  }
}

.blink {
  animation: blink 1s infinite;
}

.handle {
  position: fixed;
  bottom: 6%; /* Distância do fundo da tela */
  left: 50%;
  transform: translateX(-50%);
  width: 12%;
  border-radius: 50%;
  height: 3%;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  background: #ccc; /* Cor da etiqueta */
  z-index: 1000;
  border: 2px solid #58017a;
}

.handle mat-icon {
  font-size: 24px; /* Tamanho do ícone */
  transition: transform 0.3s;
}

.lista.open + .handle mat-icon {
  transform: rotate(360deg); /* Rotaciona a seta quando a lista está aberta */
}

/*==================
 REMOVE
==================*/
.remover-button {
  background-color: transparent; 
  color: white; 
  width: 40px; 
  height: 40px;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.remover-button:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
}
/*==================
 ENVIAR
==================*/
.botao-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 82%;
}
.enviar-button {
  background-color: #ffffff;
  color: black;
  border: 2px solid #58017a;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 50px;
}
.enviar-button:active {
  background-color: #535353;
}

/*-- Sublinhado da caixa de pesquisa --*/
.mat-form-field-underline {
  display: none !important; /* Remove o sublinhado */
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent; /* Remove a animação de sublinhado no foco */
}