<div class="loading" *ngIf="isLoadingRequest">
    <app-loader></app-loader>
</div>
<div class="px-4 py-5 my-5 text-center" style="
    margin: 0 !important;
    height: 100%;">
    <img class="d-block mx-auto mb-4" src="/assets/img-project/logo_inicial.png" alt="logo">
    <h1 class="display-5 fw-bold text-body-emphasis">Shelf Spotter</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Um jeito rápido de fazer compras ;)
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="redirect('lista-de-compras')">Criar
                Lista</button>
            <button type="button" class="btn btn-lg px-4" style="color: black;"
                (click)="redirect('minhas-listas')">Minhas Listas</button>
        </div>
    </div>
</div>

<button class="configs" (click)="redirectToConfigs()">
    <i class="fas fa-cog"></i>
</button>