<div class="container">
    <div class="logo_inicial">
        <img src="/assets/img-project/logo_inicial.png" alt="logo">
    </div>
    <div class="botoes">
        <button class="criar-lista" (click)="redirect('lista-de-compras')">
            <p style="
            margin-bottom: 0;
            width: 65%;
            font-variant-caps: small-caps;
            font-size: large;">criar lista</p>
        </button>
        <button class="minhas-listas">
            <p style="
            margin-bottom: 0;
            width: 65%;
            font-variant-caps: small-caps;
            font-size: large;">minhas listas</p>
        </button>
    </div>
</div>