.container {
    display: flex;
    height: 85%;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 11%;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo_inicial {
    display: flex;
    justify-content: center;
}

.criar-lista,
.minhas-listas {
    background-color: #ffffff;
    color: black;
    border: 2px solid #002B48;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 130px;
    height: 70px;
}
.criar-lista:active,
.minhas-listas:active {
    background-color: #535353;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

.configs {
    position: absolute;
    top: 91%;
    right: 8%;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: large;
}