.voltar {
    position: absolute;
    top: 91%;
    right: 81%;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: large;
}

.list-group-item-check {
    display: none;
}

.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.list-group-item:hover {
    background-color: #298AB4;
    color: black;
}

/* Estilo quando o input associado está selecionado */
.list-group-item-check:checked+.list-group-item {
    border: 3px solid #002B48;
}
