.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.lista ul {
    list-style-type: none;
    padding: 0;
}

.precos {
    margin-bottom: 20px;
    padding: 13px 5px;
}

.precos h2 {
    color: black;
}

.precoItem {
    color: white;
    font-size: 16px;
    text-align: center;
}

.precoItem:first-child {
    margin-top: 10px;
}

.precoItem:last-child {
    margin-bottom: 10px;
}

.grupo {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 13px 15px;
}

.grupo h2 {
    margin-top: 0;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item {
    color: #666;
    font-size: 16px;
    text-align: center;
}

.item:first-child {
    margin-top: 10px;
}

.item:last-child {
    margin-bottom: 10px;
}

.mat-divider {
    border-top: 1px solid white;
    margin: 0 30%;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.total h2 {
    margin-bottom: 50px;
}