.header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}