<header class="header">
  <div class="logo">
    <img src="/assets/img-project/logo_cliente.jpg" alt="logo">
  </div>
</header>

<section class="lista">
  <ul>
    <ng-container *ngFor="let grupo of agruparItensPorCorredor()">
      <li class="grupo">
        <h2>Corredor {{ grupo.corredor }}</h2>
        <div *ngFor="let item of grupo.itens" class="item">
          {{ item.nome }}
        </div>
      </li>
    </ng-container>
  </ul>
  <ul>
    <ng-container *ngFor="let grupo of agruparItensPorCorredor()">
      <li class="precos">
        <h2>{{ grupo.corredor }}</h2>
        <div *ngFor="let item of grupo.itens" class="precoItem">
          - <i>R${{ item.preco }}</i>
        </div>
      </li>
    </ng-container>
  </ul>
</section>

<mat-divider></mat-divider>

<section class="total">
  <h2>R${{ this.precoTotalLista }}</h2>
</section>