<div *ngIf="modalListaDeCompras" class="modal">
    <h1>Confirmação</h1>
    <p>Tudo certo?</p>
    <div class="buttons">
        <button type="button" (click)="fecharModal(false)">
            <div>
                <mat-icon>arrow_left</mat-icon>
                <p>Esqueci de um item!</p> 
            </div>
        </button>
        <button type="button" (click)="fecharModal(true)">
            <div>
                <mat-icon>arrow_right</mat-icon>
                <p>Tudo certo.</p>
            </div>
        </button>
    </div>
</div>

<div *ngIf="modalMinhasListas" class="modal">
    <h1>Esta foi sua lista nesse dia</h1>
    <section class="lista">
        <ul>
          <li *ngFor="let item of listaSelecionada"> {{ item.nome }} </li>
        </ul>
    </section>
    <p>Confirma?</p>
    <div class="buttons">
        <button type="button" (click)="fecharModal(true)">
            <mat-icon>check</mat-icon>
        </button>
        <button type="button" (click)="fecharModal(false)">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>