<div class="modal">
    <h1>Confirmação</h1>
    <p>Tudo certo?</p>
    <div class="buttons">
        <button type="button" (click)="fecharModal(false)">
            <div>
                <mat-icon>arrow_left</mat-icon>
                <p>Esqueci de um item!</p> 
            </div>
        </button>
        <button type="button" class="botao-sim" (click)="fecharModal(true)">
            <div>
                <mat-icon>arrow_right</mat-icon>
                <p>Tudo certo.</p>
            </div>
        </button>
    </div>
</div>
  