<div class="loading" *ngIf="isLoadingRequest">
    <mat-spinner class="custom-spinner" [diameter]="70"></mat-spinner>
</div>

<div *ngIf="modalListaDeCompras" class="modal">
    <div class="buttons">
        <button style="flex-direction: row-reverse;" type="button" (click)="fecharModal(false)">
            <h1 style="margin: 0;">Voltar</h1> 
        </button>
        <div style="display: flex;">
            <mat-icon>arrow_left</mat-icon>
            <mat-icon>arrow_right</mat-icon>
        </div>
        <button style="flex-direction: row;" type="button" (click)="fecharModal(true)">
            <h1 style="margin: 0;">Prosseguir</h1>
        </button>
    </div>
</div>

<div *ngIf="modalMinhasListas" class="modal">
    <h1>Esta foi sua lista nesse dia</h1>
    <section class="lista">
        <ul style="list-style-type: none;
        padding: 0;
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
        width: 70%;">
        <li *ngFor="let item of listaSelecionada" style="width: 100%;">
            <i *ngIf="item.nome" style="
                display: flex; 
                justify-content: space-between;
                align-items: center;"> 
                <div>{{ item.nome }} (x{{ item.qtd }})</div>
                <div style="flex-grow: 1; border-bottom: 1px dashed;"></div>
                <div>R${{ (item.preco*item.qtd).toFixed(2) }}</div>
            </i>
        </li>
        </ul>
    </section>
    <div class="buttons">
        <button style="justify-content: flex-end;" type="button" (click)="fecharModal(false)">
            <mat-icon>keyboard_return</mat-icon>
        </button>
        <button style="justify-content: flex-start;" type="button" (click)="fecharModal(true)">
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="modalAddItem" class="modal">
    <h1>Informações do novo item</h1>
    <section class="lista">
        <ul style="list-style: none; padding: 0;">
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
                <label for="nome" style="flex: 1; text-align: right; padding-right: 20px; font-size: 20px; width: 150px;">Nome</label>
                <input [(ngModel)]="newItemName" id="nome" type="text" style="flex: 2; font-size: 20px; padding: 5px; width: 150px;">
            </li>
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
                <label for="corredor" style="flex: 1; text-align: right; padding-right: 20px; font-size: 20px; width: 150px;">Corredor</label>
                <input [(ngModel)]="newItemAisle" id="corredor" type="number" style="flex: 2; font-size: 20px; padding: 5px; width: 150px;">
            </li>
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
                <label for="preco" style="flex: 1; text-align: right; padding-right: 20px; font-size: 20px; width: 150px;">Preço</label>
                <input [(ngModel)]="newItemPrice" id="preco" appCurrencyMask type="text" style="flex: 2; font-size: 20px; padding: 5px; width: 150px;" placeholder="R$ 0,00">
            </li>
        </ul>               
    </section>
    <div class="buttons">
        <button style="justify-content: flex-end;" type="button" (click)="fecharModalAddItem(false)">
            <mat-icon>keyboard_return</mat-icon>
        </button>
        <button style="justify-content: flex-start;" type="button" (click)="fecharModalAddItem(true)">
            <mat-icon>check</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="modalSearchItem" class="modal">
    <h1 style="margin: 16px 0 0 0 !important;">
        <mat-form-field>
            <input 
              type="text" 
              placeholder="Busque um produto" 
              id="itemInput"
              matInput 
              [formControl]="formControl" 
              [matAutocomplete]="auto">
            <mat-autocomplete 
              #auto="matAutocomplete" 
              (optionSelected)="procurarItem()">
              <mat-option *ngFor="let option of itensFiltrados | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>  
    </h1>
    <section class="lista">
        <ul style="list-style: none; padding: 0;">
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
                <label for="nome" style="flex: 1; text-align: right; padding-right: 20px; font-size: 20px; width: 150px;">Nome</label>
                <input readonly [(ngModel)]="searchItemName" id="nome" type="text" style="flex: 2; font-size: 20px; padding: 5px; width: 150px;">
            </li>
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
                <label for="corredor" style="flex: 1; text-align: right; padding-right: 20px; font-size: 20px; width: 150px;">Corredor</label>
                <input readonly [(ngModel)]="searchItemAisle" id="corredor" type="number" style="flex: 2; font-size: 20px; padding: 5px; width: 150px;">
            </li>
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
                <label for="preco" style="flex: 1; text-align: right; padding-right: 20px; font-size: 20px; width: 150px;">Preço</label>
                <input readonly [(ngModel)]="searchItemPrice" id="preco" appCurrencyMask type="text" style="flex: 2; font-size: 20px; padding: 5px; width: 150px;" placeholder="R$ 0,00">
            </li>
        </ul>               
    </section>
    <div class="buttons">
        <button style="justify-content: flex-end;" type="button" (click)="fecharModalAddItem(false)">
            <mat-icon>keyboard_return</mat-icon>
        </button>
    </div>
</div>