/* meu-modal.component.css */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #002B48;
    padding: 20px;
    border: 1px solid white;
    z-index: 900;
    color: white;
    border-radius: 20px;
    width: 100%
}
.modal h1 {
    text-align: center;
}
.modal p {
    text-align: center;
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
.lista {
    overflow: auto;
    max-height: 22rem;
    display: flex;
    justify-content: center;
}