body, html {
    background-color: black;
    color: white;
    height: 100%;
}
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
/*==================
 HEADER
==================*/
.header {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
}
.logo {
    margin: 0 5% 0 5%;
}
.logo img {
    width: 100%;
}
/*==================
 LOADING
==================*/
.loading,
.loadingheigth100 {
    background: #00000054;
    position: absolute;
    width: 100%;
    z-index: 101;
    padding-top: 25vh;
    display: flex;
    justify-content: center;
}
.loading {
    height: 94.3%;
}
.loadingheigth100 {
    height: 100%;
}
.loading > mat-spinner svg > .mat-progress-spinner circle, .mat-spinner circle,
.loadingheigth100 > mat-spinner svg > .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FFF !important;
}
@media screen and (max-width: 1099px){
    .table-7-collumns {
        width: 950px !important;
    }
}
.mat-progress-spinner.mat-blue circle, .mat-spinner.mat-blue circle {
    stroke: #3f51b5 !important;
}