html {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}
body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}
/*==================
 HEADER & FOOTER
==================*/
app-header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.logo {
    padding: 0px 7% 0 7%;
}
.logo img {
    width: 100%;
    margin: 5% 0 5% 0;
}
app-footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.copyright {
    margin: 10px 0 10px 0 !important;
}
/*==================
 LOADING
==================*/
.loading,
.loadingheigth100 {
    background: #00000054;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-spinner .mdc-circular-progress__indeterminate-circle-graphic circle,
.custom-spinner .mdc-circular-progress__determinate-circle {
    stroke: white;
}
/*==================
 TOASTR
==================*/
.toast-container {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}
  
.toast-message {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    text-align: center;
}

.toast-success {
    background-color: #28a745; 
}

.toast-error {
    background-color: #dc3545;
}

.toast-warning {
    background-color: #ffc107;
}

.toast-info {
    background-color: #17a2b8;
}

/*-- Caixa de pesquisa --*/
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
    border-radius: 50px;
    border: 2px solid #58017a;
}