body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    color: white;
    background-color: #298AB4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

/*==================
 HEADER & FOOTER
==================*/

.logo {
    padding: 0px 7% 0 7%;
}

.logo img {
    width: 100%;
    margin: 5% 0 5% 0;
}

.copyright {
    margin: 10px 0 10px 0 !important;
}

/*==================
 LOADING
==================*/
.loading,
.loadingheigth100 {
    background: #00000054;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
    transform-origin: 80px 80px;
}

.pl__ring-rotate {
    animation-name: ringRotate42;
}

.pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
}

.pl__tick {
    animation-name: tick42;
}

.pl__tick:nth-child(2) {
    animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
    animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
    animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
    animation-delay: -1s;
}

.pl__tick:nth-child(6) {
    animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
    animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
    animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}

@keyframes ringRotate42 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes ringStroke42 {

    from,
    to {
        stroke-dashoffset: 452;
        transform: rotate(-45deg);
    }

    50% {
        stroke-dashoffset: 169.5;
        transform: rotate(-180deg);
    }
}

@keyframes tick42 {

    from,
    3%,
    47%,
    to {
        stroke-dashoffset: -12;
    }

    14%,
    36% {
        stroke-dashoffset: 0;
    }
}

.custom-spinner .mdc-circular-progress__indeterminate-circle-graphic circle,
.custom-spinner .mdc-circular-progress__determinate-circle {
    stroke: white;
}

/*==================
 TOASTR
==================*/
.toast-container {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}

.toast-message {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    text-align: center;
}

.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545;
}

.toast-warning {
    background-color: #ffc107;
}

.toast-info {
    background-color: #17a2b8;
}

/*-- Caixa de pesquisa --*/
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
    border-radius: 50px;
    border: 2px solid #002B48;
}